/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;; /* Fondo general */
    
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A3636; /* Fondo de la barra de navegación */
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 300px;
    padding: 8px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    background-color: #D6BD98; /* Fondo del campo de búsqueda */
    color: #2F4F4F; /* Color del texto en el campo de búsqueda */
}

.search-bar button {
    padding: 8px;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #8B4513; /* Fondo del botón de búsqueda */
    cursor: pointer;
}

.search-bar button img {
    height: 20px;
}

.menu-icon img {
    height: 40px;
}

/* Navigation Menu */
nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #2F4F4F; /* Fondo del menú de navegación */
}

nav ul li {
    padding: 14px 20px;
}

nav ul li a {
    color: #F5F5DC; /* Color del texto del menú */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #D6BD98; /* Color del texto al pasar el cursor */
}

/* Brand Logos */
.productos {
    padding: 20px;
    background-color: #40534C; /* Fondo de la sección de logos */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 90%;
    border-radius: 10px;
}

.productos-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.productosIndividual{
   background-color: #ccc;
   width: 20%;
   height: 200px;
}
.productosIndividual img {
    height: 80px;
    margin: 0 15px;
    transition: transform 0.3s ease;
}

.productosIndividual img:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1A3636; /* Fondo del pie de página */
    color: #F5F5DC; /* Color del texto en el pie de página */

}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    overflow: hidden;
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(20% - 48px);
    margin-right: 10px;
    text-align: center;
    position: relative;
    flex-shrink: 0; /* Evita que las tarjetas se encojan */
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.discount {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.price-before {
    text-decoration: line-through;
    color: #888;
}

.price-now {
    font-size: 1.5em;
    color: #000;
    margin: 10px 0;
}

.installments {
    color: green;
    font-weight: bold;
}

.sizes {
    margin-bottom: 10px;
}

.add-to-cart {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}

.add-to-cart:hover {
    background-color: darkgray;
}

/* Estilo para las flechas de navegación */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    display: none; /* Ocultas inicialmente */
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* Mostrar flecha derecha por defecto */
#rightArrow {
    display: block;
}

/* Efecto hover sobre las flechas */
.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

nav ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #ccc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #1A3636;
    border-bottom: 2px solid;
}

.dropdown-content a:hover {
    background-color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.submenu-content {
    display: none;
    position: absolute;
    left: 100%; /* Posiciona el submenú directamente al lado del enlace */
    top: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.submenu-content a {
    background-color: #1A3636;
    color: #ccc;
}

.submenu-content a:hover {
    background-color: black;
}

.dropdown-submenu:hover .submenu-content {
    display: block;
}

.form-step {
    margin: 20px 0;
}

.form-step h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

select, input[type="text"], input[type="number"], input[type="file"] {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    max-width: 400px;
}

button, input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

input[type="submit"] {
    background-color: #28a745;
}

input[type="submit"]:hover {
    background-color: #218838;
}
